:root {
    --backdrop-color-footer-text: rgba(255, 255, 255, 0.60);
    --backdrop-background: #FFF;
    --backdrop-background2: #2F303A;
    --modal-background: skyblue;
    --backdrop-td-a-p: #757575;
    --backdrop-a-h3-h2: #212121;
    --backdrop-a1: #2196F3;
    --backdrop-address: #FFF;
    --backdrop-button: #F5F4FA;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(./Roboto\ \(3\).zip);
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    padding: 25px 0px;
}

h1 {
    font-size: 44px;
    color: var(--backdrop-background);
    text-transform: uppercase;
    font-weight: 900;
    margin: 0px;
}

h2 {
    color: var(--backdrop-a-h3-h2);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin: 0px;
}

h3 {
    color: var(--backdrop-a-h3-h2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin: 0px;
}

h5 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: 0px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--backdrop-a-h3-h2);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 0px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.a1 {
    padding: 0px 0px 0px 10px;
    color: #757575;
}

.heder-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 93px;
}

.nav2 {
    display: flex;
    gap: 50px;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.08px;
}

.logo-link {
    color: black;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.heder-container2 {
    display: flex;
    gap: 50px;
}

.span {
    color: var(--backdrop-a1);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

a:focus {
    color: var(--backdrop-a1);
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/Img26.png);
    padding: 200px 0px;
    gap: 30px;
}

.div-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 32px;
    color: white;
    background-color: var(--backdrop-a1);
    border: #2196F3;
}

.button2:focus {
    background-color: var(--backdrop-a1);
    color: #FFF;
}

.button2 {
    border-radius: 150px;
    border: white;
    padding: 12px;
}

.div-main {
    display: flex;
    justify-content: center;
    padding: 94px 0px 0px;
    gap: 30px;
}

.main1 {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 0px;
}

.img-main2 {
    width: 270px;
    height: 260px;
}

.div-main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.main2 {
    display: flex;
    flex-direction: column;
    padding: 94px 215px;
    background: #F5F4FA;
    gap: 50px;
}

.main1-h5 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: relative;
    bottom: 0;

    text-align: center;
    color: black;
}

footer {
    display: flex;
    background-color: #2F303A;
    width: 1170px;
    padding: 60px 215px;
    gap: 70px;
}

.footer2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0px;
}

.img-footer-h5 {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 14px;
}

.img-footer-h5 {
    border-radius: 50%;
}

.img-footer-h5:focus {
    color: #2196F3;
}

.footer-h5-img2 {
    gap: 10px;
    display: flex;
}

.div-igor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px 0px 16px 0px;
}

.div-igor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-div4-1 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.div-main4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 94px 0px;
}

.div-main4-h2 {
    font-size: 36px;
}

.div-main3 {
    padding: 94px 0px;
}

.address {
    color: var(--backdrop-address);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.text1 {
    color: var(--backdrop-color-footer-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer2-h5 {
    font-size: 14px;
    color: #fff;
}